<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.  Python
2.  R
3.  SQL

Some of the commonly used libraries used by Data Scientists include:
1.  NumPy
2.  Pandas
3.  MatPlotLib

| Data Science Tools |
|:--------:|
|  RStudio   |
|  Jupyter Notebook   |
|  Apache Spark   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [9]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
### This will convert 200 minutes to hours by diving by 60
print("200 minutes is", 200/60, "hours.")

200 minutes is 3.3333333333333335 hours.

Objectives:
- Popular Languages that Data Scientists Use
- Common Libraries Used in Data Science
- Data Science Tools

<h2>Author<h2>
<h4>Trace Osborne<h4>